rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any file path
    match /{allPaths=**} {
      // Deny all reads and writes by default
      allow read, write: if false;
    }

    // Allow users to manage their own files
    match /users/{userId}/{allPaths=**} {
      // Allow read, write, and delete if the user is authenticated and the userId matches their uid
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
