
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // By default, deny all reads and writes
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Allow users to read and write to their own folder in storage.
    // The path is expected to be 'users/{userId}/...'
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
